.main-navbar{
    border-bottom: 1px solid #ccc;
}
.main-navbar .top-navbar{
    background-color: #91CEFF;
    padding-top: 10px;
    padding-bottom: 10px;
}
.main-navbar .top-navbar .brand-name{
    color: #1C7293;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 39px;
    font-style: italic;

}
.main-navbar .top-navbar .nav-link{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.main-navbar .navbar{
    padding: 0px;
    background-color: #0060CA;
}
.main-navbar .navbar .nav-item .nav-link{
    padding: 8px 20px;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}
.main-navbar .navbar .nav-item .nav-link:hover{
    font-size: 19px;
    color: black;
    transition: 0.4s;
    box-shadow: 0px 0px 2px;
}

@media only screen and (max-width: 600px) {
    .main-navbar .top-navbar .nav-link{
        font-size: 12px;
        padding: 8px 10px;
    }
}
.Hero_Content{
    /* background-color: red; */
    width: 100vw;
    height: 70vh;
    display: flex;
}
.halfs{
    border: #0060CA 2px solid;
    margin: 7px 7px;
    padding: 7px 7px;
    background-color: #60a3ebb3;
}
#lhalf{
    width: 60vw;
}
#rhalf{
    width: 40vw;
    position: relative;
    /* background-image: url('imgs/bgimage.jpg'); */
    background-position: center;
    background-size: cover;
}
#pdtimg {
    width: fit-content;
    height: fit-content;    
    position: relative;
    top: 10em;
    left: 15em;
}
#pdtimg img{
    position: relative;
    top: -90px;
    width: 20em;
}
