*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: #41faf4;
    padding: 10px;
}
.nav-bar{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
/* Rightmost nav-bar*/ 
.button-container {
    display: flex;
    background-color: #41b0fa;
    width: 250px;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}
  .button {
    outline: 0 !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  
  .button:hover {
    transform: translateY(-3px);
  }
  
  .icon {
    font-size: 20px;
  }
/* Rightmost navbar ends here */


.logo{
    font-family: "Niramit", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    text-transform: capitalize; 
    letter-spacing: 12px;
}
.login{
    display: flex;
    margin: 11px;
    gap: 20px;
    text-transform: capitalize;
    font-family: "Niramit", sans-serif;
    font-weight: 500;
    text-align: center;
    font-style: normal;
}
#login{
    border: none;
    border-radius: 12px;
    background-color: transparent;
}
#login{
    --primary-color: #41b0fa;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    position: relative;
    top: -10px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
}
  
#login .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#login .arrow {
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}
  
#login .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}
  
#login:hover {
    background-color: var(--hover-color);
}
  
#login:hover .arrow {
    background: var(--secondary-color);
}
  
#login:hover .arrow:before {
    right: 0;
}

#signup{
    --primary-color: #41b0fa;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    position: relative;
    top: -10px;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
}
  
#signup .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#signup .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}
  
#signup .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}
  
#signup:hover {
    background-color: var(--hover-color);
}
  
#signup:hover .arrow {
    background: var(--secondary-color);
}
  
#signup:hover .arrow:before {
    right: 0;
}
.hero-section{
    background-color: aquamarine;
    display: flex;
}
.text{
    margin-left: 150px;
    width: 49vw;
    height: 85vh;
}
.brandimg{
    width: 51vw;
    height: 85vh;
    margin-right: 150px;
}
.text h1{
    margin-top: 100px;
    font-size: 55px;
    font-family: "Frank Ruhl Libre", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: #006B47;
    font-style: normal;
}
.text h2{
    text-transform: capitalize;
    font-size: 125px;
    font-family: "Domine", serif;
    font-optical-sizing: auto;
    font-weight: 550;
    color: #24B28B;
    font-style: normal;
}
  